* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.orders,
.products {
  display: flex;
  font-size: 2rem;
  max-width: 1220px;
  height: 10em;
  margin: 0 auto 0;
  display: flex;
  margin-top: 20px;
  flex-direction: column;


}
